
#projects-Frame {
    box-sizing: border-box;
    /* height: 575px; */
    font-size: 16pt;
    margin:0%;
    line-height: initial;
    background: url('images/projectsbackground.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.imagelink {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.hidden{
    display: none;
}
.jumbotron{
    background-color: rgba(139, 139, 139, 0.6)
}
#projectSelector{
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.4)
}
.activeProject{
    background-color: rgba(132, 132, 132, 0.4);
}
section {
    width:100%;
    height: 100%;
    padding:0px !important;
    font-family:Arial, Helvetica, sans-serif;
}
#headerDiv {
    grid-row:1;
    display: flex;
    justify-content: center;
}
#projects-Frame h3 {
    font-size: 24pt;
    text-align: center;
}
#projects-Frame p{
    text-align: center;
}
#projects-Frame a {
    text-decoration: none;
    color:inherit;
}
#projects-Frame a:hover{
    text-decoration: none;
    color: inherit;
}
#bannerImg{
    width: 100%;
}
.row {
    width: 100%;
    margin:0px;
}
#projectImgDiv {
    margin: 0px;
}
.projectName {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 15px;

}
.spaceAroundFlexbox{
    display: flex;
    justify-content: space-around;
}
.viewProject{
        background-color: #D7F7D5;
        color: black !important;
        border: 2px solid black;
        border-radius: 10%;
        height: 35px;
        width: 85px;
        box-shadow: black 4px 4px 2px;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
}
.viewProject:hover {
    position: relative;
    bottom: -2px;
    left: 2px;
    box-shadow: black 2px 2px 2px;
}
.ghButton{
    background-color: black;
    border-radius: 10%;
    height: 35px;
    width: 85px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#projectLink{
    height: 40px;
    width: 90px;
}
#projectSelector .button{
    border: 4px solid white;
    border-radius: 12%;
    color: white;
    padding: 5px;
}

section{
    margin:0;
}
#projectsPreload{
    background-image: url('images/pomodoroThumborig.jpg'),
                    url('images/yelpingtontnorig.jpg'),
                    url('images/geo-vermont.jpg'),
                    url('images/chattn.jpg'),
                    url('images/zorkingtonthumbnailorig.jpg')
}
@media (max-width: 600px){
    header{
        flex-direction: column;
        width: 100%;
        align-content: center
    }
    nav {
        width: 100%;
        margin: 0px;
        justify-content: space-around;
    }
    #name{
        font-size: 30pt;
        text-align: center;
        width: 100%;
        margin: 0px;
    }
    
    section{
        font-size: 12pt;
    }
    #body{
        font-size: 12pt;
    }
    .exampleJustify{
        margin: 0px;
    }
    #projectSelector{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    h3{
        font-size: 15pt
    }
    .projectName{
        padding:4px;
        margin:3px;
        height: inherit;
    }
    #projects-Frame .button{
        font-size: 10pt;
        margin-bottom: auto;
        margin-top:auto;
    }
}